<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gms.entity.User">
        <id column="userId" property="userid" />
        <result column="userName" property="username" />
        <result column="userPassword" property="userpassword" />
        <result column="isAdmin" property="isadmin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, userName, userPassword, isAdmin
    </sql>

</mapper>
