<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.mapper.BorrowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gms.entity.Borrow">
        <id column="borrowId" property="borrowId" />
        <result column="userId" property="userId" />
        <result column="goodsId" property="goodsId" />
        <result column="borrowTime" property="borrowTime" />
        <result column="returnTime" property="returnTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        borrowId, userId, goodsId, borrowTime, returnTime
    </sql>

</mapper>
