<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.mapper.LostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gms.entity.Lost">
        <id column="lostId" property="lostId" />
        <result column="userId" property="userId" />
        <result column="goodsId" property="goodsId" />
        <result column="lostTime" property="lostTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lostId, userId, goodsId, lostTime
    </sql>

</mapper>
